// Color Scheme
$primary: #273042;
$secondary: #E23943;
$default: #fff;
$appDefaultBg: $default;
$itemName: #252525;
$search: #7f7f7f;
$rating: #FFCC3A;
// Font Face
$avenir-light: 'Avenir-Light', sans-serif;
$avenir-medium: 'Avenir-Medium', sans-serif;
$avenir-heavy: 'Avenir-Heavy', sans-serif;
$primary-ff: 'Croissant One', cursive;
$secondary-ff: $avenir-heavy;
// Folders
$assets: '/assets/';
// Icons
$icons: 'bell', 'cog', 'fav', 'menu', 'next', 'prev', 'star';