// Color Scheme
$primary: #273042;
$secondary: #E23943;
$default: #fff;
$appDefaultBg: $default;
$itemName: #252525;
$search: #7f7f7f;
// Font Face
$primary-ff: 'Croissant One', cursive;
$secondary-ff: 'Avenir heavy', sans-serif;
// Folders
$assets: '/assets/';
// Icons
$icons: 'bell', 'cog', 'fav', 'menu', 'next', 'prev', 'star';