@import "vars";
@import "utils/mixins";
@import "utils/reset";
@import "font-face";
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: $appDefaultBg;
}

.app {
  &-header {
    @include size(100%, 443px);
    padding: 15px 18px;
    background: linear-gradient(-180deg, $primary 0%, rgba(39, 48, 66, 0.54) 43%, $primary 93%), $primary url($assets + "BusinessPageCover.png") no-repeat center;
    background-size: cover;
    position: relative;
    @include respond-to('mobile') {
      height: 100vh;
    }
  }
  &-content {
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    @include respond-to('mobile') {
      padding: 20px 0;
      flex-direction: column;
    }
  }
  &-footer {
    background: $primary;
    @include size(100%, 150px);
    display: flex;
    align-items: center;
    position: relative;
    @include respond-to('mobile') {
      justify-content: center;
    }
    .brand {
      left: 50px;
      position: absolute;
      @include respond-to('mobile') {
        position: unset;
      }
    }
  }
}


.user {
  &-picture {
    @include square(50px);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    img {
      @include square(100%);
      object-fit: cover;
    }
  }
}

.push-right {
  display: inline-flex;
  align-items: center;
  right: 0;
  position: absolute;
  @include respond-to('mobile') {
    display: none;
  }
}

.brand {
  font-family: $primary-ff;
  @include font-size(30px);
  color: $default;
  text-transform: uppercase;
  span {
    color: $secondary;
    margin-left: -8px;
  }
}

.business {
  &-info {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    height: 120px;
    margin-top: -60px;
    width: 100%;
    margin-left: -19px;
    padding: 0 20px;
    @include respond-to('mobile') {
      flex-direction: column;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100vh - 130px);
      margin: 0 -19px;
      padding-top: 30px;
    }
  }
  &-picture {
    @include square(190px);
    border-radius: 50%;
    border: 2px solid $default;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
      margin: 0 -42px; // better to put the image as BG
    }
    @include respond-to('mobile') {
      @include square(120px);
    }
  }
  &-heading {
    color: $default;
    padding-left: 35px;
    @include respond-to('mobile') {
      padding: 0;
    }
  }
  &-name {
    font-family: $primary-ff;
    @include font-size(50px);
    padding-bottom: 20px;
    text-transform: capitalize;
    @include respond-to('mobile') {
      @include font-size(22px);
      text-align: center;
      padding: 15px 0;
    }
  }
  &-description {
    font-family: $avenir-medium;
    @include font-size(20px);
    padding: 10px 0;
    @include respond-to('mobile') {
      padding: 0;
    }
  }
  &-followers {
    font-family: $avenir-medium;
    @include font-size(14px);
    text-transform: uppercase;
    @include respond-to('mobile') {
      @include font-size(12px);
      position: absolute;
      bottom: 15px;
    }
  }
  &-actions {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@import "partials/main";
@import "partials/item";
@import "partials/menu";
@import "partials/icons";
@import "partials/buttons";
