.item {
  @include size(30%, 367px);
  min-width: 260px;
  display: inline-block;
  cursor: pointer;
  margin: 0 26px 10px 0;
  position: relative;
  &:hover {
    .item-slid {
      display: flex;
    }
  }
  @include respond-to('mobile') {
    display: block;
    margin: 0 auto;
    @include size(100%, auto);
  }
  @include respond-to('desktop') {
    min-width: 245px;
    margin: 0px 12px 10px 0;
  }
  &-image {
    min-width: 260px;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    img {
      @include square(100%);
      object-fit: cover;
    }
    @include respond-to('mobile') {
      @include size(100%, auto);
    }
    @include respond-to('desktop') {
      min-width: 250px;
    }
    .navigation {
      @include size(21px, 38px);
    }
    .mask {
      @include square(100%);
      position: absolute;
      z-index: 99;
      background: transparent;
      &:hover {
        background: rgba(0, 0, 0, 0.40);
        .like {
          display: block;
        }
      }
    }
  }
  &-info {
    position: absolute;
    @include size(100%, 47px);
    bottom: 5px;
    @include respond-to('mobile') {
      min-height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 6px;
      position: relative;
    }
  }
  &-name {
    font-family: $avenir-heavy;
    @include font-size(18px);
    color: $itemName;
    line-height: 1.5;
  }
  &-likes {
    font-family: $avenir-light;
    @include font-size(14px);
    color: $itemName;
  }
  &-rating {
    @include font-size(14px);
    color: $rating;
    font-family: $avenir-medium;
    .ico {
      display: inline-block;
      @include square(13px);
    }
  }
  &-slid {
    display: none;
    @include size(100%, 38px);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 100;
    justify-content: space-between;
    .ico {
      margin: 0 5px;
      &:hover {
        filter: drop-shadow(0 0 2px);
      }
    }
  }
}

.like {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  @include square(30px);
  &:hover {
    path {
      fill: $secondary;
    }
  }
}
